<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sourcey.Drinkometer">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaFMRlRWAkou0Ofqf9g8BsDdFwbxEp4xQ" />
        <activity android:name=".MenuActivity"/>
        <activity android:name=".LockActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".PubsActivity" />
        <activity android:name=".AlcoholActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".CallingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <service android:name=".BackgroundService"/>
    </application>

</manifest>